* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    font-weight: 700;
}

:root {
    --game-width: 400px;
    --background-color: #bd4b00;
}

body {
    background: url(../assets/wallpaper-b.png);
    background-size: 700px;
}

.game-general {
    display: flex;
    justify-content: center;
}

.game-container {
    margin-top: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen-protector {
    position: absolute;
    backdrop-filter: blur(3px);
    width: var(--game-width);
    height: var(--game-width);
}

#game {
    display: block;
    border: 8px solid black;
}

#play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 15px;
    font-size: 40px;
    border-radius: 0;
    border: 4px solid var(--background-color);
    background-color: #000000;
    color: #ffffff;
    outline: 5px solid #000000;
    transition: all 200ms;
    cursor: pointer;
}

#play-btn:hover {
    color: #000000;
    background-color: #535353;
    outline: 5px solid #535353;
}

#play-btn:active {
    color: #ffffff;
    background-color: #000000;
    outline: 5px solid #000000;
}

#options {
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#chess {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

#chess:hover {
    font-weight: 700;
    cursor: pointer;
}

.board {
    width: var(--game-width);
    height: 100px;
    background-color: #505050;
    display: grid;
    grid-template: auto / 130px 130px;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10px;
    border: 8px solid black;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    height: 50px;
    background-color: var(--background-color);
    border: 6px solid black;
}

#best-score {
    color: rgb(173, 163, 23);
}

#best-score::before {
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../assets/crown.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 2px;
    right: 10px;
}